.calculator {
  padding: 2rem;
  width: 22rem;
  height: 32rem;
  background-color: #CFE2F3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 2px solid black;
}

.calculator__input {
  width: 18rem;
  height: 7rem;
  background-color: #fff;
  border: 2px solid black;
  text-align: right;
  padding-right: 5%;
  font-weight: bold;
}

.key-operator {
  border: 2px solid #FFE0B2;
}

.one {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.two {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.three {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.four {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.five {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.six {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.seven {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.eight {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.nine {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.zero {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

.plus {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
}

.minus {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

.multi {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.divide {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.equal {
  grid-column: 3 / 5;
  grid-row: 5 / 6;
  background-color: #f90;
  border-color: black;
}

.clear {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #ccc;
}

.delete {
  grid-column: 2/3;
  grid-row: 1/2;
}

.percent {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.dot {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.calculator__keys {
  display: grid;
  grid-template-columns: repeat(4, 5rem);
  grid-template-rows: repeat(5, 5rem);
}
